@font-face {
  font-family: "Hel-bold";
  src: url(../font/HelveticaLTStd-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Hel-light";
  src: url(../font/HelveticaLTStd-Light.otf) format("opentype");
}
h2,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.heading {
  font-size: 30px;
  font-family: "Hel-bold";
}
/* Header start */

header {
  border-bottom: 1px solid rgb(204, 204, 204, 1);
  height: 126px;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav ul {
  display: flex;
}
.logo a {
  color: red;
  font-size: 36px;
  font-family: "Hel-bold";
}
.logo a span {
  color: black;
}
nav ul li a {
  font-size: 18px;
  font-family: "Hel-bold";
}
nav ul li .active-link {
  color: #999999;
}
.menu-btn {
  display: none;
}
.menu-btn i {
  color: black;
  font-size: 40px;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .menu-btn {
    display: block;
  }
  .main-menu {
    position: relative;
  }
  .my-nav {
    position: fixed;
    top: 126px;
    right: -80%;
    background-color: white;
    border-left: 1px solid black;
    width: 80%;
    height: 87vh;
    transition: 0.5s;
  }
  .my-nav ul {
    flex-direction: column;
  }
  .my-nav ul .devider {
    display: none;
  }
}
.my-nav ul li {
  margin-top: 30px;
  margin-left: 0px;
  text-align: center;
}

/* Banner start */
.banner {
  padding: 100px 20px;
  text-align: center;
  border-bottom: 1px solid rgb(204, 204, 204, 1);
}
.banner h2 {
  font-family: "Hel-bold";
  font-size: 36px;
}
.banner p {
  font-size: 16px;
  max-width: 870px;
  margin: 43px auto;
  font-family: "Hel-bold";
}
.banner a {
  background-color: rgba(34, 34, 34, 1);
  display: inline-block;
  color: white;
  font-family: "Hel-bold";
  padding: 8px 30px;
  border-radius: 5px;
}

/* project start */
.project {
  padding: 55px 0px;
}
.project-card {
  margin-top: 44px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 5px;
  text-align: center;
}
.project-card img {
  width: 100%;
}
.project-card h2 {
  font-size: 18px;
  font-family: ;
  margin: 20px;
}
.project-card i {
  font-size: 15px;
  font-family: "Hel-bold";
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-block;
  color: #5a5959;
}
/* About start */
.about {
  padding: 50px 0px;
  background-color: rgba(229, 229, 229, 1);
}
.about p {
  font-family: "Hel-light";
  margin-top: 50px;
  font-size: 15px;
  color: #444444;
  max-width: 450px;
}
.social-img {
  margin-top: 50px;
}
.social-img img {
  margin-top: 10px;
}
.new-block {
  margin-top: 50px;
  display: flex;
  font-family: "Hel-bold";
}
.top-30 {
  margin-top: 30px;
}
.block-text {
  margin-left: 30px;
}
.block-text h2 {
  font-size: 18px;
}
.block-text p {
  color: #444444;
  margin-top: 16px;
}
.block-text p span {
  color: #ca1f1f;
}
.line {
  margin: 30px 0px;
}
@media screen and (max-width: 992px) {
  .whats-new {
    margin-top: 50px;
  }
}
/* footer start */
nav ul li .active-link-footer {
  color: #099999;
}
footer {
  padding: 30px 0px;
}
.my-footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 770px) {
  .my-footer {
    flex-direction: column;
  }
  .my-footer nav ul li {
    margin-left: opx;
    margin-right: 10px;
    margin-top: 20px;
  }
}
.my-footer p {
  font-family: "Hel-bold";
}
.my-footer p span {
  color: red;
}
